@model IEnumerable<Labb1MVC_V4.Models.LoanedBook>

@{
    ViewData["Title"] = "Index";
}

<h1>Loaned books</h1>

<p>
    <a asp-action="Create">Create New Loan</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book)
            </th>
            <th>
                Date of loan
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CustomerFName)
                @Html.DisplayFor(modelItem => item.Customer.CustomerLName)
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.BookName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoanDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LoanedBookId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LoanedBookId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LoanedBookId">Delete</a> |
                <a asp-action="Return" asp-route-id="@item.LoanedBookId">Return</a>
            </td>
        </tr>
}
    </tbody>
</table>
