@model IEnumerable<Labb1MVC_V4.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>All Books</h1>

<p>
    <a asp-action="Create">Create New Book</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Available for loan
            </th>
            <th>
                Author
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BookName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfBooksInStock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookAuthor)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.BookId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.BookId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.BookId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
