@model IEnumerable<Labb1MVC_V4.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h1>All Customers</h1>

<p>
    <a asp-action="Create">Create New Customer</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
               
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerFName)
                @Html.DisplayFor(modelItem => item.CustomerLName)
            </td>
            <td>
                
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CustomerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CustomerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CustomerId">Delete</a> |
                <a asp-action="LoanedBooks" asp-route-id="@item.CustomerId">View Loaned books</a>
            </td>
        </tr>
}
    </tbody>
</table>
